img {
  width: 135px;
  height: auto;
}


.navbar {
  height: 70px;
  background-color: white !important;
  border-bottom: 1px solid #f0f0f0;

  &.navbar-mobile {
    height: auto;

    .navbar-collapse {
      margin: 0;
    }

    .menu {
      flex-direction: column;

      li {
        a {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          span {
            display: block;
          }
        }
      }
    }
  }
}

.menu {
  display: flex;
  flex-direction: row;

  li {
    padding: 0px 10px;

    a {
      cursor: pointer;

      i {
        font-size: 17px;
        font-weight: 600;
        color: #ff6e44;

        &:hover {
          color: rgba(0,0,0,.7);
        }
      }

      span {
        display: none;
        font-size: 17px;
        color: #E53935;
        margin-right: 10px;
        margin-left: 10px;
      }
    }
  }
}

.categories {
  a {
    font-size: 17px;
    color: #E53935;
    margin-right: 10px;
    margin-left: 10px;
  }
}

ul {
  text-align: center;
}

#navbarMenu {
  justify-content: space-between;
}
