@import "../shared/styles/variables";

.container {position: relative; }
.form-wrapper {
  padding: 60px;
  display: flex;
  justify-content: center;

  h3 {
    text-align: center;
  }
  form {
    padding: 25px 0;

    label {font-size: 14px; }

    button {
      margin: 15px 0;
      color: $primary-color-dark;
      border: 1px solid #f0f0f0;
    }

    .field {
      margin: 15px 0;

      #checkboxRememberMe {
        margin-right: 10px;
      }
    }

    .action-wrapper {
      display: flex;
      justify-content: center;
    }
  }
}

.error {
  color: red;
}

.message-wrapper {
  width: 350px;
  height: min-content;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  position: absolute;
  left: 37%;
  bottom: 90px;

  span {
    font-size: 14px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.error-message {
  background: rgba(216, 0, 0, 0.5);
}

.success-message {
  background: rgba(11, 152, 96, 0.5);
}
