<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h4 class="title">Address</h4>
        <span class="acount-icon">
            <a href="#"><i class="fa fa-address-book" aria-hidden="true"></i> Address 1</a>
            <a href="#"><i class="fa fa-address-book" aria-hidden="true"></i> Address 2</a>
            <a href="#"><i class="fa fa-address-book" aria-hidden="true"></i> Address 3</a>
            <a href="#"><i class="fa fa-address-book" aria-hidden="true"></i> Address 4</a>
          </span>
      </div>
      <div class="col-sm-3">
        <h4 class="title">Contact</h4>
          <span class="acount-icon">
            <a href="#"><i class="fa fa-phone" aria-hidden="true"></i> Contact 1</a>
            <a href="#"><i class="fa fa-phone" aria-hidden="true"></i> Contact 2</a>
            <a href="#"><i class="fa fa-phone" aria-hidden="true"></i> Contact 3</a>
            <a href="#"><i class="fa fa-phone" aria-hidden="true"></i> Contact 4</a>
          </span>
      </div>
      <div class="col-sm-3">
        <h4 class="title">Socials</h4>
          <span class="acount-icon">
            <a href="#"><i class="fab fa-google-plus-g"></i></a>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </span>
       </div>
      <div class="col-sm-3">
        <div>
            <a href="#">
              <img src="../../assets/images/logo.webp" width="150" height="120" alt="">
            </a>

            <ul class="payment">
              <li><a href="#"><i class="fab fa-cc-visa"></i></a></li>
              <li><a href="#"><i class="fab fa-cc-mastercard"></i></a></li>
              <li><a href="#"><i class="fab fa-cc-paypal"></i></a></li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
