<div class="container">
  <div class="row">
    <button (click)="deleteProduct()" class="btn btn-danger pull-left">Видалити товар</button>
  </div>
  <div>
    <div class="product-wrapper">
      <a class="goBackLink" (click)="goOnPrevPage()">Повернутись назад</a>
      <div class="content-product-wrapper" *ngIf="product">
        <div class="img-wrapper"><img src="{{product.image}}" alt="{{product.name}}"></div>
        <div class="product-info-wrapper">
          <h3 *ngIf="product">{{product.name | uppercase}}</h3>
          <p class="description">{{product.description}}</p>
          <p class="price"><span class="label">ціна:</span>{{product.price}} ГРН</p>
          <p class="size"><span class="label">розмір:</span>{{product.size}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="message-wrapper error-message" *ngIf="isErrorDelete">
    <span>Сталася помилка під час видалення!</span>
  </div>

  <div class="message-wrapper success-message" *ngIf="isSuccessDelete">
    <span>Успішно видалено.</span>
  </div>

</div>

