.form-wrapper{padding: 50px;}
.field {
  padding: 15px;
  .isActive {
    display: flex;
    justify-content: center;

    #isActive{
      width: 15px;
      height: 15px;
    }
  }
}
textarea{width: 100%;}
label.isActiveProduct{padding: 0 10px;}
