<div class="container">
  <div class="form-wrapper">
    <h3 class="title">Форма додвання новго продукту</h3>
    <form novalidate [formGroup]="productForm" #productFormDirective="ngForm" (ngSubmit)="onSubmit()">

        <div class="field">
          <label for="productnName">Назва товару</label>
          <input formControlName="name" type="text" id="productnName" class="form-control" name="name" autocomplete="off">
          <p *ngIf="productFormErrors.name">
            {{ productFormErrors.name }}
          </p>
        </div>

        <div class="field isActive">
          <input formControlName="active" type="checkbox" id="isActive" name="isActive">
          <label class="margin-r-10px isActiveProduct" for="isActive">Активувати продукт</label>
        </div>

        <div class="field">
          <label for="productImage">Фото продукту</label>
          <input formControlName="image" type="text" id="productImage" class="form-control" name="image"  autocomplete="off">
        </div>

        <div class="field">
          <label for="productPrice">Ціна</label>
          <input formControlName="price" type="number" id="productPrice" class="form-control" name="price"  autocomplete="off">
        </div>

        <div class="field">
          <label for="productSize">Розімр</label>
          <input formControlName="size" type="text" id="productSize" class="form-control" name="size" placeholder="Size" autocomplete="off">
          <span *ngIf="productFormErrors.size">
            {{ productFormErrors.size }}
          </span>
        </div>

        <div class="form-group row">
          <div class="col-md-6">
            <select>
              <option *ngFor="let category of categories">{{ category.name }}</option>
            </select>
          </div>
        </div>

        <div class="field">
          <label for="productDescription">Опис продукту</label>
          <textarea id="productDescription" formControlName="description" rows=5></textarea>
          <p *ngIf="productFormErrors.description">
            {{ productFormErrors.description }}
          </p>
        </div>

        <div class="field">
          <button type="submit" [disabled]="productForm.invalid" class="btn btn-light action-view-more">Додати</button>
        </div>

    </form>
  </div>
</div>
