.action-wrapper { margin: 20px; display: flex; justify-content: center; }

form{margin-top: 85px;margin-left: 25px;width: 10%;}

.page-wrapper {
  display: flex;
}

.form-check{
  padding-top: 10px;
}

app-products-list{margin-left: -60px}