<div class="page-wrapper">
  <div class="search"><input placeholder="Пошук" [(ngModel)]="searchValue" (keyup)="doSearch()" type="text"><i (click)="doSearch()" class="fas fa-search"></i></div>
  <div class="content-wrapper">
    <div class="products">
      <app-products-list [products]="products" [productsAmount]="productsAmount"></app-products-list>
      <div class="action-wrapper" *ngIf="!searchValue && !checkedBoxes">
        <button (click)="showMoreProducts()" class="btn btn-light action-view-more">Більше</button>
      </div>
    </div>
  </div>
</div>

